@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$main-color: #343B65;
$secondary-color: #ff0;
$tertiary-color: #fff;
$quarter-color: #fa0;

.main {
  width: 100%;
  height: 100vh;
  background: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    animation: animate linear 3s infinite;
  }
  span {
    font-size: 5rem;
    font-family: Bebas Neue;
    color: $tertiary-color;
    animation: animatespan 5s linear infinite;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: ($i * 0.1s);
      }
    }
  }
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatespan {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}