.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), to(#2B3151));
  background: linear-gradient(0deg, #22c1c3 0%, #2B3151 100%);
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75%;
  margin-bottom: 40px;
  padding-top: 40px;
  width: 90%;
  max-width: 300px;
}

.main .container img {
  max-width: 450px;
  max-height: 60%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .container .cardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  border: 1px solid #a7d6f5;
  padding: 10px;
}

.main .container .cardInfo > div > p {
  font-size: 1.5rem;
  color: #a7d6f5;
  text-align: center;
  margin: 5px;
}

.main .container .cardInfo .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main .container .cardInfo .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container .cardInfo .left div p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.main .container .cardInfo .left img {
  width: 30px;
}

.main .container .cardInfo .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main .container .cardInfo .right .attacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.main .container .cardInfo .right .attacks button {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: #fa0;
  border: none;
  outline: none;
  color: #2B3151;
  font-weight: 900;
  margin: 4px;
  cursor: url("../../../assets/images/cursor.png"), auto;
}

.main .arrowLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #343D65;
  border: none;
  outline: none;
  color: #fa0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .arrowLeft:hover {
  background: #fa0;
  color: #343D65;
}

.main .circle {
  position: absolute;
  left: 0;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40%;
  width: 100%;
  border-radius: 50%;
  background: #343D65;
  border: none;
  outline: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .circle p {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.main .circle p:last-child {
  font-size: 1rem;
  margin-bottom: 10px;
}

.main .circle > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .circle > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #2B3151;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2);
}

.main .circle > div div img {
  width: 50%;
}

@media (min-width: 768px) {
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    max-width: none;
  }
  .main .container img {
    max-height: 90%;
  }
  .main .container .cardInfo {
    width: 300px;
    height: 150px;
  }
  .main .container .cardInfo .right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.module.css.map */