@import "../../../sass_utilities/variables";

.main {
  @include flexColumn(flex-end);
  background: linear-gradient(0deg, $gradient-color 0%, $main-color 100%);
  height: 100vh;
  transition: 0.5s;
  .container {
    @include flexColumn(center);
    height: 75%;
    margin-bottom: 40px;
    padding-top: 40px;
    width: 90%;
    max-width: 300px;
    img {
      // width: 70%;
      max-width: 450px;
      max-height: 60%;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1)
      }
    }
    .cardInfo{
      @include flexRow(space-around);
      margin-top: 30px;
      width: 100%;
      border: 1px solid $secondary-color;
      padding: 10px;
      & > div {
        & > p {
        @include text(1.5rem, $secondary-color);
        margin: 5px;
        }
      }
      .left {
        @include flexColumn(space-between);
        height: 100%;
        div {
          @include flexRow(space-around);
          p {
            @include text(1rem, $tertiary-color);
          }
        }
        img {
          width: 30px;
        }
      }
      .right {
        @include flexColumn(space-between);
        height: 100%;
        .attacks {
          @include flexColumn(center);
          width: 90%;
          button {
            @include iconBg(40px, 100px, 50px, $quarter-color);
            color: $main-color;
            font-weight: 900;
            margin: 4px;
            cursor: url('../../../assets/images/cursor.png'), auto;
          }
        }
      }
    }
  }

  .arrowLeft {
    @include flexRow(center);
    @include absoluteLeftTop(0, 50%);
    @include iconBg(50px, 50px, 50%, $aux-color);
    color: $quarter-color;
    transition: 0.5s;
    &:hover {
    background: $quarter-color;
    color: $aux-color;
    }
  }

  .circle {
    @include absoluteLeftTop(0, 0%);
    @include flexColumn(flex-end);
    @include iconBg(40%, 100%, 50%, $aux-color);
    transform: translateY(-50%);
    p {
      @include text(2rem, $tertiary-color);
      &:last-child {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
    & > div {
      @include flexColumn(flex-end);
      div {
        @include flexColumn(center);
        @include iconBg(50px, 50px, 50%, $main-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2);
        img {
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    .container {
      @include flexRow(space-around);
      flex-direction: row;
      width: 80%;
      max-width: none;
      img {
        max-height: 90%;
      }
      .cardInfo {
        width: 300px;
        height: 150px;
        .right {
          justify-content: flex-start;
        }
      }
    }
  }
}