@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$main-color: #2B3151;
$secondary-color: #ff0;
$tertiary-color: #fff;
$quarter-color: #fa0;

.main {
  background: $main-color;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    h1 {
      color: $secondary-color;
    }
  }

  .container {
    display: flex;
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    .card {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      border: 5px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      min-width: 250px;
      & > img {
        width: 100%;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        p {
          color:$tertiary-color;
          font-family: Bebas Neue;
          text-align: center;
          &:first-child {
            font-size: 2rem;
          }
          &:last-child {
            font-size: 1rem;
          }
        }
        img {
          width: 40px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    overflow: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 998px) {
  .container {
    justify-content: space-between;
  }
}