@import "../../../sass_utilities/variables";


.main {
  @extend %columnCentered;
  background: $main-color;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  .nav {
    @extend %rowBetween;
    width: 80%;
    h1 {
      color: $secondary-color;
    }
  }

  .container {
    display: flex;
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    .card {
      @extend %columnBetween;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      border: 5px solid black;
      margin: 25px 10px;
      min-height: 450px;
      padding: 10px;
      position: relative;
      transition: 0.5s;
      width: 250px;
      &:hover {
        transform: scale(1.1)
      }
      & > img {
        width: 100%;
      }
      div {
        @extend %columnCentered;
        width: 75%;
        p {
          color:$tertiary-color;
          text-align: center;
          &:first-child {
            font-size: 2rem;
          }
          &:last-child {
            font-size: 1rem;
          }
        }
        img {
          width: 40px;
          @include absoluteRightTop(5px, 5px);
          filter: drop-shadow(0 0 5px) invert(90%);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    overflow: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 998px) {
  .container {
    justify-content: space-between;
  }
}